set default="0"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'Rocky-9-7-x86_64-dvd'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Instalar Unbound Sentinel DNS — Automatico' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=Rocky-9-7-x86_64-dvd inst.ks=hd:LABEL=Rocky-9-7-x86_64-dvd:/ks.cfg quiet
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Verificar midia e instalar Unbound Sentinel DNS' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=Rocky-9-7-x86_64-dvd rd.live.check quiet
	initrdefi /images/pxeboot/initrd.img
}
submenu 'Solucao de Problemas -->' {
	menuentry 'Instalar em modo texto (sem graficos)' --class fedora --class gnu-linux --class gnu --class os {
		linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=Rocky-9-7-x86_64-dvd inst.ks=hd:LABEL=Rocky-9-7-x86_64-dvd:/ks.cfg inst.text quiet
		initrdefi /images/pxeboot/initrd.img
	}
	menuentry 'Recuperar sistema instalado' --class fedora --class gnu-linux --class gnu --class os {
		linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=Rocky-9-7-x86_64-dvd inst.rescue quiet
		initrdefi /images/pxeboot/initrd.img
	}
}
